import React from 'react';
import "./styles.scss";

type {{pascalCase name}}Props = {

}

const {{pascalCase name}} = (props:{{pascalCase name}}Props) => {
return (
<div>
  {{pascalCase name}}
</div>
);
};

export default {{pascalCase name}};